@use '../base/variables' as c

.btn
    background-color: c.$brandBlue
    color: white
    font-size: 24px
    padding-block: 1rem
    padding-inline: 2.5rem
    border: 0
    border-radius: 0.5rem
    border: 3px solid transparent

    @media (hover: hover)
        &:hover
            background-color: c.$brandBlueHover
            cursor: pointer

    &:active
        background-color: c.$brandBlueActive

    &--white
        background: white
        color: black
        border-color: black

        @media (hover: hover)
            &:hover
                background-color: c.$brandLightGray

        &:active
            background-color: c.$brandLowLightGray

.btn-container
    display: flex
    flex-direction: column
    gap: 1rem

    @media (min-width: 1024px)
        flex-direction: row

.section
    background-color: white

    &--gray
        background-color: c.$brandLightGray

.container
    padding-top: 2rem
    padding-inline: 4vw

    @media (min-width: 1024px)
        padding-inline: 10vw

    &--list
        display: flex
        flex-direction: column
        align-items: center
        padding-block: 2rem

        @media (min-width: 1024px)
            padding-block: 15vh

.header
    background-color: white
    box-shadow: 5px 5px 10px black

    border-bottom-left-radius: 0.5rem
    border-bottom-right-radius: 0.5rem
    position: sticky
    top: 0
    padding-top: 0 // Отменяем padding от container

    &__logo
        transition: all 0.2s ease-in-out
        transform-origin: left center
        margin-block: 0.5rem

        @media (min-width: 1024px)
            margin-block: 1rem
            transform: scale(1.5)

.objection-points
    list-style-image: url('/html-css/assets/first-page/images/CheckMark.svg')
    list-style-position: inside
    font-size: 1.25rem
    gap: 1rem
    display: none

    @media (min-width: 1024px)
        display: flex

    &__point
        white-space: nowrap

.block
    &__header
        font-size: 2rem
        font-weight: 600
        line-height: 120%

        @media (min-width: 1024px)
            font-size: 2.5rem
            font-weight: 700

        &--second
            font-size: 1.5rem

            @media (min-width: 1024px)
                font-size: 1.75rem
                font-weight: 600

    &__items-with-image
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-between

        @media (min-width: 1024px)
            flex-direction: row

    &__items-card
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-top: 2rem
        gap: 1rem

        @media (min-width: 1024px)
            flex-direction: row

    &__image
        max-width: 600px
        margin-inline: auto
        object-fit: contain
        width: 100%
        height: auto

    &__items
        display: grid
        grid-template-columns: 1fr
        justify-content: space-between
        justify-items: center
        padding-top: 2rem
        gap: 2rem
        width: 100%
        font-size: 1.25rem

        @media (min-width: 1024px)
            grid-template-columns: repeat(3, 1fr)
            gap: 4vw

    &__item
        max-width: 320px
        display: flex
        flex-direction: column
        gap: 2rem

        @media (min-width: 1024px)

            &--start
                justify-self: start

            &--center
                justify-self: center

            &--end
                justify-self: end

    &__text
        color: c.$brandDarkGray
        line-height: 150%

        &--gray
            color: c.$brandMediumGray

    &__icon
        max-width: 48px
        height: auto

.block-list
    display: flex
    flex-direction: column
    justify-content: space-around
    padding-top: 2rem
    gap: 2.5rem

    &__item
        display: flex
        flex-direction: column
        gap: 1.5rem

    &__header
        padding-left: 0.5rem
        line-height: 120%
        font-size: 1.5rem
        font-weight: 600

        @media (min-width: 1024px)
            font-size: 2rem

    &__text
        line-height: 120%
        font-size: 1.25rem
        max-width: 600px

.profile
    display: flex
    align-items: center
    gap: 1.5rem

    &__info
        display: flex
        flex-direction: column
        line-height: 120%
        color: c.$brandMediumGray

    &__name
        font-size: 1.5rem
        font-weight: 700
        padding-bottom: 0.5rem

    &__role
        font-weight: 700
        font-size: 1rem

    &__company
        font-size: 1rem

.card
    border: 1px solid c.$brandMediumGray
    border-radius: 1rem
    display: flex
    flex-direction: column
    align-items: center
    padding-block: 2rem
    gap: 1.5rem
    background-color: white
    padding-inline: 3rem

    &--active
        border: 5px solid c.$brandBlue

    &__header
        font-size: 1.5rem
        font-weight: 600
        line-height: 120%
        text-transform: uppercase
        color: c.$brandMediumGray

    &__price
        line-height: 120%
        font-weight: 700
        font-size: 4rem

    &__description
        font-size: 1.5rem
        font-weight: 600
        line-height: 120%
        color: c.$brandMediumGray
        text-align: center
        max-width: 250px

    &__points
        list-style-image: url('/html-css/assets/first-page/images/CheckMark.svg')
        font-size: 1.25rem

    &__point-text
        font-size: 0.75rem
        line-height: 120%

        @media (min-width: 1024px)
            font-size: 1rem

    &__btn
        font-weight: 600
